.Favor {
  grid-area: f;
  padding: 30px;
  z-index: 3;
}


@media screen and (max-width: 836px){
  .Favor {
    display: none;
  }

  .Favor_visible {
    display: block;
    grid-area: f;
    padding: 15px;
    z-index: 3;
  }
}

@media screen and (max-width: 400px){
  .Favor_visible {
    width: 95%;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    padding: 0;
  }
}