
.joke_item,
.joke_item_header,
.joke_item_center,
.note_image_wrapper,
.joker_content,
.joke_ID,
.joke_item_bottom,
.update,
.category_name {
  display: flex;
}

.title_ID,
.ID_num,
.update{
  font-size: 10px;
  line-height: 14px;
}

.update,
.title_ID {
  color: #ABABAB;
}


.note_image_wrapper {
  background-color: #FFFFFF;
}




.joke_item {
  margin-bottom: 15px; 
  background-color: #F8F8F8;
  border-radius: 20px;
  padding: 40px;
  flex-direction: column;
}

.joke_item_header {
 justify-content: flex-end;
}

.heart_checked {
 background-image: url(../../../assets/images/heart_checked.svg);
 background-size: 100% auto;
 width: 20px;
 height: 20px;
}




.heart_unchecked{
  background-image: url(../../../assets/images/heart_unchecked.svg);
  background-size: 100% auto;
  width: 20px;
  height: 20px;
 }


.note_image_wrapper {
 justify-content: center;
 min-width: 40px;
 height: 40px;
 border-radius: 50%;
}

.note_image {
  background-image: url(../../../assets/images/note.png);
  background-size: 100% auto;
  margin-top: 11px;
  width: 20px;
  height: 20px;
}



.joke_content {
 flex-direction: column;
 margin-left: 20px;
}



.ID_num {
 color: #8EA7FF;
 text-decoration: underline;
 margin-left: 2px; 
}

.exit_img {
 background-image: url(../../../assets/images/exit.png);
 background-size: 100% auto;
 width: 10px;
 height: 10px;
 margin-left: 5px;
}

.joke_text {
 word-wrap: break-word;
 font-size: 18px;
 font-weight: 400;
 line-height: 26px;
 margin-top: 5px;
}


.joke_item_bottom {
 justify-content: space-between;
 margin-top: 23px;
}

.update {
 font-weight: 400;
 letter-spacing: 2px;
 margin-top: 7px;
 margin-left: 61px;
}

.update_info {
 margin-left: 10px;
}

.category_name {
  background-color: white;
  justify-content: center;
  width: 107px;
  height: 24px;
  margin-top: 10px;
  padding-top: 8px;
  border-radius: 6px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pageWrapper {
  margin: 13px 0;
}

.pageNum {
  background-color: #F8F8F8;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 30%;
  color: black ;
}