
.checkbox_burger {
  display: none;
  z-index: 4;
  margin-top: 20px;
}

.burger_menu {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.burger_menu+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ABABAB;
  margin-left: 10px;
}

.burger_menu+label::before {
  margin-right: 10px;
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: url(../../assets/images/burger-menu.svg) ;
  background-size: cover;
}

.burger_menu:checked+label::before {
  background-image: url(../../assets/images/close_menu.svg);
  background-size: cover;
}

.overlay {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}


@media screen and (max-width: 836px){
  .checkbox_burger{
    display: block;
  }

  .checked {
    display: block;
    position: relative;
    left: 38px;
    bottom: 10px;
    z-index: 4;
  }
}

@media screen and (max-width: 380px){
  .checkbox_burger{
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
  }

  .checked {
    display: block;
    position: absolute;
    z-index: 4;
    left: calc(100% - 170px);
    top: 40px;
  }
}